@font-face {
  font-family: "Proxima Nova";
  src: url("../src/assets/fonts/proximanova-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Arial"), local("sans-serif");
  unicode-range: U+0040, U+002B;
}

@import "tailwindcss";

@theme {
  --font-proxima: "Proxima Nova", ui-sans-serif, system-ui, sans-serif;
}
